# IntelliJ IDEA stuff
.idea/

# VSCode stuff
.vscode/

# Dolphin stuff
.directory

# Gradle project-specific cache directory
.gradle/

# Gradle build output directory
build/
bin/

# Run directory
run/

# Remapped source file directory
remappedSrc/
